.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.caption {
	font-size: 20px;
}

.search {
	display: inline-block;
	width: 600px;
	height: 70px;
	font-size: 16px;
	padding: 10px;
	border: none;
	background-color: transparent;

}

.form-box {
	border-radius: 40px;
	border: 2px black solid;
	width: 600px;
	height: 70px;
}

form {
	width: 100%;
}

/* Style the submit button */
.searchbtn {
  width: 50px;
	height: 70px;
	background: transparent;
  color: #86BC25;
  font-size: 28px;
  border: 1px solid grey;
  border: none; /* Prevent double borders */
  cursor: pointer;
}

.result {
	width: 600px;
}

.sample {
	width: 100%;
	height: 150px;
}

.card {
	padding: 20px;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-row {
	float: left;
	display: block;
	font-size: 16px;
	padding: 5px;
}

.card-element {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	border: 1px #86BC25 solid;
	padding: 5px;
	margin-left: 5px;
}

.card-footer {
	font-size: 16px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
